<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alkhair_CRE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
     
  <userSettings>
    <Alkhair_CRE.My.MySettings>
      <setting name="pdf" serializeAs="String">
        <value>pdf</value>
      </setting>
    </Alkhair_CRE.My.MySettings>
  </userSettings>
  </configuration>
